*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background: linear-gradient(45deg,rgb(22, 110, 35),rgba(4, 4, 138, 0.715));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;

    


}
#root{
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    user-select: none;
}
